# Node.js dependencies
/backend/node_modules
/frontend/node_modules

# Environment variables
.env
*.env

# Flutter/Dart
/frontend/build
/frontend/.dart_tool
/frontend/.pub-cache

# Flutter/Android
/frontend/android/.gradle
/frontend/android/local.properties
/frontend/android/app/build

# Flutter/iOS
/frontend/ios/Pods
/frontend/ios/Runner.xcworkspace
/frontend/ios/.symlinks

# Flutter/macOS
/frontend/macos/Flutter/ephemeral

# Flutter/Windows/Linux
/frontend/windows/flutter/ephemeral
/frontend/linux/flutter/ephemeral

# OS junk
.DS_Store
Thumbs.db
